{% extends "main/layout.html" %}
{% block title %}
    <a>Главная страница</a>
{%endblock%}
{% block content %}
    <div class="features">
        <h1>{{title}}</h1>
        <h2> Добро пожаловать в кулинарную соцсеть CoSoulya!</h2>
        <h3> Бот со школьным меню:</h3>
        <a href="https://web.telegram.org/a/#7860986136"><li><button class="btn btn-info"><i class="fa-solid fa-robot"></i> Наш бот (; </button></li></a>
        <h3>Бот с разными интересными подборками рецептов:</h3>
        <a href="https://web.telegram.org/a/#7506550736"><li><button class="btn btn-info"><i class="fa-solid fa-robot"></i> ещё один) </button></li></a>



    </div>
{% endblock %}
